.single-column-content{
    padding-left: 3rem;

    h2{
        font-size: 1.8rem;
        text-transform: capitalize;
    }
    .content{
       h3{
        margin-bottom: 7px;
       }

       h4{
        margin-bottom: 0px;
        padding-bottom: 3px;
       }
    }
}