
.hero{
    border: 0;
    height: 90vh;
    margin: 0;
    display: flex;
    padding: 0;
    overflow: hidden;
    position: relative;
    max-height: 1000px;
    align-items: baseline;
    background-size: cover;
    background-position: center center;

    h1{
        width: 50%;
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: 3rem;
        margin-left: 10px;
    }
    h2{
        width: 100%;
        text-align: left;
        color: white;
        font-weight: 400;
        font-size: 3rem;
        margin-top: 15rem;

    }
}