@import './Images.scss'; 
@import '../components/Hero/style.scss';
@import '../components/navbar/style.scss';

body{
    font-family: roboto,helvetica,arial,sans-serif;
    font-weight: 300;
}

.container{
   position: relative;
   display: flex;
   justify-content: center;
}

.row{
    display: flex;
}

.col{

}

.heading-section{
    width: 100%;
}

.content-section{
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    width: 90%;
    position: absolute;

    @media screen and (max-width: 660px) {
        top: 400px;
      }

      @media screen and (min-width: 660px) {
        top: 500px;
      }
}