@import './Images.scss'; 
@import '../components/Hero/hero.scss';
@import '../components/navbar/navbar.scss';

body{
    font-family: roboto,helvetica,arial,sans-serif;
    font-weight: 300;
}

.container{
   text-align: center;
}
.row{
    display: flex;
}

.col{

}


